{include file="header"/}
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 属性管理 <span class="c-gray en">&gt;</span> 属性添加 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"  title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">

                <input type="text" placeholder="分类" id="name" class="input-text" style="width:200px">
                <a href="" class="btn btn-primary radius" id="add"><i class="Hui-iconfont">&#xe600;</i> 添加配置</a>
                <select id=""></select>
                <!--令牌-->
                <input type="text" id="token" hidden>

            </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="14">{$name}</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th width="200">产品名称</th>
                    <th width="200">属性</th>
                    <th width="200">价格</th>
                    <th width="200">数量</th>
                    <th width="200">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </article>
    </div>
</section>

<div id="modal-up" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <article class="cl pd-20">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>属性：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="hidden" id="id">
                            <input type="text" class="input-text" value="" placeholder="" id="attrname" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;添加&nbsp;&nbsp;" onclick="attradd()">
                            <button class="btn" data-dismiss="modal" aria-hidden="true" id="close">关闭</button>

                            <span id="pans"></span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{include file="footer"/}

<script type="text/javascript">
    $(document).ready(function () {
        $("#add").click(function () {
            var name=$("#name").val()
            var id=$("#id").val()
            $.ajax({
                url:"{:url('goodsattr/attradd')}",
                data:{
                    name:name,
                    id:id,
                },
                type:"post",
//                dateType:"json",
                success:function (res) {
                    console.log(res)
//                    show()
                }
            })
        })
    })
</script>
</body>
</html>