{include file="header"/}
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
                <form class="Huiform" method="post" action="" target="_self">
                    <input type="text" class="input-text" style="width:250px" placeholder="权限名称"  name="">
                    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜权限节点</button>
                </form>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                <a href="javascript:;" class="btn btn-primary radius" onclick="modaldemo()"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
                <!--令牌-->
                <input type="text" id="token">

            </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="10">权限节点</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="40">ID</th>
                    <th width="200">用户名</th>
                    <th width="200">角色</th>
                    <th width="200">手机号</th>
                    <th width="200">最后一次登录</th>
                    <th width="200">修改时间</th>
                    <th width="200">注册时间</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </article>
    </div>
</section>
<!--修改-->
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <article class="cl pd-20">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" id="name" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" id="password" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" id="mobile" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                             <span class="select-box">
				                  <select name="" class="select" id="role">

				                  </select>
				             </span>
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="add">
                            <button class="btn" data-dismiss="modal" aria-hidden="true" id="closes">关闭</button>
                            <span id="pan"></span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<div id="modal-up" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <article class="cl pd-20">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="hidden" id="id">
                            <input type="text" class="input-text" value="" placeholder="" id="name_update" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" id="password_update" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机号：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" class="input-text" value="" placeholder="" id="mobile_update" name="username">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                             <span class="select-box">
				                  <select name="" class="select" id="role_update">

				                  </select>
				             </span>
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                            <input class="btn btn-primary radius" onclick="update()" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="update">
                            <button class="btn" data-dismiss="modal" aria-hidden="true" >关闭</button>
                            <span id="pan"></span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{include file="footer"/}
<script type="text/javascript" src="__STATIC__/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/hui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    function show() {
        $.ajax({
            url:"{:url('user/show')}",
            dataType:'json',
            success:function (res) {
                var code=res.data;
                var tr='';
                for (var i=0; i<code.length; i++) {
                    tr = tr + "<tr class='text-c'> <td><input value='"+code[i].id+"' class='mycheckbox' type='checkbox' ></td> <td>" + code[i].id + "</td>  <td class='text-l'>" + code[i].user_name + "</td><td class='text-l'>" + code[i].name + "</td><td class='text-l'>" + code[i].mobile + "</td><td class='text-l'>" + code[i].last_login_time + "</td><td class='text-l'>" + code[i].update_time + "</td><td class='text-l'>" + code[i]. create_time+ "</td> <td class='f-14 product-brand-manage'><a   onclick='modalup(\""+ code[i].id +"\",\""+code[i].user_name+"\",\""+code[i].password+"\",\""+code[i].role_id+"\",\""+code[i].mobile+"\",)' style='text-decoration:none'  href='javascript:;' title='编辑'><i class='Hui-iconfont'>&#xe6df;</i></a> <a style='text-decoration:none' class='ml-5'  onclick='del(" + code[i].id + ")' title='删除' ><i class='Hui-iconfont'>&#xe6e2;</i></a></td> </tr>";
                }
                $(".table tbody").html(tr)
            }
        })
    }
    //命令
    function sel() {
        $.ajax({
            url:"{:url('user/role')}",
            dataType:"json",
            success:function (res) {
                var code=res.data;
                var sel='';
                for(var i=0; i<code.length; i++){
                    sel=sel+"<option value='"+code[i].id+"'>"+code[i].name+"</option>"
                }
                $('#role').html(sel)
                $('#role_update').html(sel)
//                $('#update_select').html(sel)
            }
        })
    }
    //批量删除
    function datadel() {
        var box=$(".mycheckbox:checked")
        var id='';
        for (var i=0; i<box.length; i++){
            id=id+','+box[i].value
        }
        $.ajax({
            url:"{:url('user/datadel')}",
            data:{
                id:id
            },
            type:'post',
//            dataType: "json",
            success:function (res) {
                console.log(res)
                    $.Huimodalalert('删除成功',1000);
                    show()
            }
        });
    }
    //获取令牌
    function token() {
        $.ajax({
            url:"{:url('permissioncategory/token')}",
            dataType: "json",
            success:function (res) {
                console.log(res.data)
                $('#token').val(res.data)
            }
        })
    }
    //添加
    function modaldemo(){
        $("#modal-demo").modal("show")}
    //查询展示
    function modalup(id,name,password,role,mobile){
        $("#modal-up").modal("show");
        $("#id").val(id);
        $("#name_update").val(name);
        $("#mobile_update").val(mobile);
        $("#role_update").val(role);
        $("#password_update").val(password)
    }
    //修改
    function update() {
        var id=$('#id').val()
        var name=$('#name_update').val()
        var password=$('#password_update').val()
        var mobile=$('#mobile_update').val()
        var role=$('#role_update').val()
        $.ajax({
            url:"{:url('user/update')}",
            type:"post",
            data:{
                id:id,
                name:name,
                password:password,
                mobile:mobile,
                role:role
            },
//            dataType: "json",
            success:function (res) {
                console.log(res)

            }
        })
        show()
    }
    //删除
    function del(id) {
//        var tokens=$('#token').val();
        $.ajax({
            url:"{:url('user/del')}",
            data:{
                id:id
            },
            type:'post',
//            dataType: "json",
            success:function (res) {
                console.log(res)
                    $.Huimodalalert('删除成功',1000);
                    show();

            }
        })
    }
    $(document).ready(function () {
        $("#add").click(function () {
            var name=$('#name').val()
            var password=$('#password').val()
            var mobile=$('#mobile').val()
            var role=$('#role').val()
            $.ajax({
                url:"{:url('user/add')}",
                data:{
                    name:name,
                    password:password,
                    mobile:mobile,
                    role:role,
                },
                type:"post",
                dataType: "json",
                success:function (res) {
                    if(res.code==0){
                        alert(res.data)
                    }else {
                        alert(res.data)
                    }
                    console.log(res);
                }
            })
            show()
        })
        sel()
        show()
    })


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>